.imagem-carrossel {
	object-fit: cover;
	object-position: 0 80%;
	height: 400px;
}

.fonte-titulo {
	font-family: 'Pacifico', cursiva;

}

.cor-especial {
	color: darkred!important;
}

.botao-cor-especial {
	background-color: darkred;
	color: #FFF;
}

.borda-cor-especial {
	border-color: darkred;
}

.card-posicao-imagem {
	object-fit: cover;
	height: 200px;
}

.card-largura {
	max-width: 18rem;
}


